* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.bgColor{
  background-color: #4c4c4c;
}
h1{
  text-align: center;
  color: white;
  font-size: 35px;
  padding: 10px;
  margin: 5px;
}
.table{
  width: 1220px;
  height: 620px;
  margin: 10px auto;
}
/*table, td, th{*/
  /*border: 1px solid #4c4c4c;*/
  /*border-collapse: collapse;*/
  /*padding: 5px 10px;*/
  /*background-color: white;*/

/*}*/
/*table{*/
  /*margin: 5px;*/
  /*width: 99%;*/
  /*max-height: 600px;*/
/*}*/
/*td{*/
  /*text-align: center;*/
/*}*/
/*th{*/
  /*padding: 15px 10px;*/
  /*background-color: #4c4c4c;*/
  /*color: white;*/
  /*border: 1px solid white;*/
/*}*/
/*thead{*/
  /*position: fixed;*/
  /*top: 77.5px;*/
  /*z-index: 2;*/
  /*margin-top: 0;*/
  /*border-top: 10px solid  #4c4c4c;*/
/*}*/
/*.searchTable{*/
  /*border: 1px solid white;*/
  /*width: 815px;*/
  /*margin: 5px;*/
  /*height: 620px;*/
  /*background-color: #4c4c4c;*/
  /*overflow-y: auto;*/
  /*position: relative;*/
  /*display: inline-block;*/
/*}*/
/*tbody{*/
  /*position: absolute;*/
  /*top: 65px;*/
/*}*/
/*.grafic{*/
  /*display: inline-block;*/
/*}*/